<header class="header">
    <div class="nav__toggle"></div>
    <nav class="nav container">
        <ul class="nav__list row justify-content-center">
            {% for item in site.data.navigation.items %}
                <li class="nav__list--item col-12" data-nav-to="{{ forloop.index0 }}">
                    <a href="{{ item.link }}"><h5 class="mb-0">{{ item.name }}</h5></a>
                </li>
            {% endfor %}
            <!-- <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/"><h5 class="mb-0">Home</h5></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/about"><h5 class="mb-0">CV</h5></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/blog"><h5 class="mb-0">Ramblings</h5></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/pantone-colors"><h5 class="mb-0">Pantone Colors</h5></a>
            </li> -->
        </ul>
    </nav>
</header>
