<header class="header">
    <nav class="nav container"
        <ul class="nav__list row text-center justify-content-center">
            <!-- {% for item in site.navigation.items %}
                <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                    <a href="{{ item.permalink }}"><h6>{{ item.name }}</h6></a>
                </li>
            {% endfor %} -->
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/"><h6>Home</h6></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/about"><h6>CV</h6></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/blog"><h6>Ramblings</h6></a>
            </li>
            <li class="nav__list--item col-12" data-nav-to="{{ loop.index0 }}">
                <a href="/pantone-colors"><h6>Pantone Colors</h6></a>
            </li>
        </ul>
    </nav>
</header>
