<article class="pantone__color {% if include.index == '0' %}current-color{% endif %} swipe-{{ include.index | modulo: 4 }} bg-dark-{{ include.darkness }}" style="background-color: {{ include.hex }}; z-index: {{ include.layer }};">
    <div class="container">
        <div class="row pt-5">
            <div class="pantone__color--description col-12 col-md-10 pt-5 mt-5">
                <h1 class="mb-4">
                    <span class="font-sans">{{ include.year }}</span> // {{ include.title }}
                </h1>
                <p>{{ include.description }}</p>
            </div>
        </div>
    </div>
</article>
