body {
    color: $black;
    font-family: $font-body-sans;
    font-size: 1.25rem;
    // &.modal-open {
    //     overflow-y: hidden;
    // }
}
.skip-link.screen-reader-text {
    position: absolute;
    left: -1000vw;
}
