.nav {
    position: absolute;
    top: 6rem;
    left: 4rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: 0.2s;
    &.nav-open {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }
    &__toggle {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: 3px solid $black;
        cursor: pointer;
        transition: 0.2s;
        &:hover, &.nav-open {
            background-color: $black;
        }
    }
    &__list {
        list-style: none;
        &--item {
            margin: 0.25rem 0;
            a {
                &::after {
                    opacity: 0;
                }
            }
        }
    }
}
