.nav {
    position: absolute;
    top: 3rem;
    left: 4rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: 0.2s;
    &.nav-open {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }
    &__toggle {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 2rem;
        height: 2rem;
        transform: rotate(45deg);
        background-color: transparent;
        border: 3px solid $black;
        transition: 0.2s;
        &:hover, &.nav-open {
            background-color: $black;
        }
    }
}
