h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-variant: all-small-caps;
    line-height: 1.1;
}
h1.display {
    font-size: 4rem;
}
p {
    font-family: $font-body-serif;
    line-height: 1.5;
}
.font-serif {
    font-family: $font-body-serif;
}
.font-sans {
    font-family: $font-body-sans;
}
.font-header-thin {
    font-family: $font-header-thin;
}
strong {
    font-family: $font-bold;
    font-weight: 600;
}
em {
    font-family: $font-italic;
    font-style: italic;
}
ul, ol {
    line-height: 1.75;
    margin-bottom: 2rem;
}
ul {
    list-style: square;
}
hr {
    margin-bottom: 2rem;
}
::selection, mark {
    background-color: $black;
    color: $white;
    .bg-dark-true & {
        background-color: $white;
        color: $black;
    }
}
.bg-dark-true {
    color: $white;
}
