---
layout: default
title: Home
permalink: /
---

<section class="home__hero">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 mt-5 pt-5">
                <h1 class="display">Hi, I'm Nick –</h1>
                <h3>Nurse, Musician, Developer.</h3>
            </div>
            <div class="col-12 col-md-8"
                <p>
                    I earned my Master of Music in French horn performance. played in professional orchestras and ensembles in Cleveland, OH. I taught myself to code and worked as a web developer for the awe-inspiring team at <a href="//whiteboard.is">Whiteboard</a>.
                </p>
                <p>
                    I sing baritone in the <a href="//nashvillesymphony.org">Nashville Symphony Chorus</a> and in <a href="//operatn.org">Opera Tennessee</a> here in Chattanooga. And I decided to pursue my love for medicine and people by becoming a cardiac nurse here at <a href="//erlanger.org">Erlanger</a>.
                </p>
                <p>
                    This site is just for fun to 1) have a digital landing pad and 2) play around with some ideas. Any questions, feel free to <a href="mailto:nick.dan.davidson@gmail.com">reach out</a>!
                </p>
            </div>
        </div>
    </div>
</section>
