---
layout: default
title: Pantone Colors of the Year
permalink: /pantone-colors
---

<section class="pantone__hero">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-8 pt-5 mt-5">
                <h1>{{ page.title }}</h1>
                <h4>{{ page.subtitle }}</h4>
                <p class="mt-3">{{ page.copy }}</p>
            </div>
        </div>
    </div>
</section>
<section class="pantone__stack">
    {% capture num_colors %}{{ site.data.pantone_colors.colors.size }}{% endcapture %}
    {% assign double_count = 0 %}

    {% for color in site.data.pantone_colors.colors %}
        {% capture color_title %}{{ color.title }}{% endcapture %}
        {% capture color_hex %}{{ color.hex_code }}{% endcapture %}
        {% capture is_dark_color %}{{ color.is_dark }}{% endcapture %}
        {% capture color_year %}{{ color.year }}{% endcapture %}
        {% capture is_double_color_year %}{{ color.is_double }}{% endcapture %}
        {% capture color_description %}{{ color.description }}{% endcapture %}

        {% capture loop_index %}{{ forloop.index0 }}{% endcapture %}
        {% capture z_index %}{{ num_colors | minus: forloop.index0 }}{% endcapture %}

        {% if is_double_color_year == "true" %}
            {% if double_count == 0 %}
                <article class="pantone__color {% if loop_index == '0' %}current-color{% endif %} swipe-{{ loop_index | modulo: 4 }}" style="z-index: {{ z_index }};">
                    <div class="container-fluid h-100 px-0">
                        <div class="row h-100">
                            {% include double-pantone-color.html title=color_title hex=color_hex darkness=is_dark_color year=color_year description=color_description %}
                {% assign double_count = 1 %}
            {% else %}
                            {% include double-pantone-color.html title=color_title hex=color_hex darkness=is_dark_color year=color_year description=color_description %}
                        </div>
                    </div>
                </article>
                {% assign double_count = 0 %}
            {% endif %}
        {% else %}
            {% include single-pantone-color.html title=color_title hex=color_hex darkness=is_dark_color year=color_year description=color_description index=loop_index layer=z_index %}
        {% endif %}
    {% endfor %}
</section>
<div class="pantone__buttons">
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="prev-color">&uarr; BACK</button>
            </div>
            <div class="col">
                <button class="next-color">&darr; NEXT</button>
            </div>
            <div class="col">
                <button class="back-to-top">&uarr;&uarr; TOP</button>
            </div>
        </div>
    </div>
</div>
