---
layout: default
title: Pantone Colors of the Year
permalink: /pantone-colors
---

<section class="pantone__hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
                <p>{{ page.copy }}</p>
            </div>
        </div>
    </div>
</section>
{% for color in site.pantone-colors %}
    {% capture color_title %}color.title{% endcapture %}
    {% capture color_year %}color.year{% endcapture %}
    {% capture color_hex %}color.hex_code{% endcapture %}

    {% include single-pantone-color.html title=color_title year=color_year hex=color_hex  %}
{% endfor %}
